
body {
  background-color: rgb(9, 72, 87);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(17, 92, 38);
  border-radius: 5px;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
  border-radius: 20px;
}

.snake {
  background-color: rgb(244, 238, 235);
  z-index: 2;
}

#snake-head {
  background-color: rgb(244, 238, 235);
}

.apple {
  background-color: rgb(0, 0, 0);
  z-index: 1;
}